extends PatternLayouts

append variables
  _require_once_wp Functions/Set404

block content
  header.section(role='banner')
    .wrap-limited.ribbon-container
      .ribbon
        a(href='{% $siteUri %}') {% $alternativeLink %}
      h1.emphasized(itemprop='name') {% $name %}
      .grid
        .m2.sizeS-m4.vertical
          span.icon-arrow-up.surround.zoom500
        .m2.sizeS-m4.vertical
          span.icon-arrow-left.surround.zoom500
        .m2.sizeS-m4.vertical
          span.icon-arrow-down.surround.zoom500
        .m2.sizeS-m4.vertical
          span.icon-arrow-right.surround.zoom500
        .m2.sizeS-m4.vertical.sizeS-hidden
          span.icon-arrow-up.surround.zoom500
        .m2.sizeS-m4.vertical.sizeS-hidden
          span.icon-arrow-left.surround.zoom500
        .m2.sizeS-m4.vertical.sizeS-hidden
          span.icon-arrow-down.surround.zoom500
        .m2.sizeS-m4.vertical.sizeXS-hidden
          span.icon-arrow-right.surround.zoom500
        .m2.sizeS-m4.vertical.sizeXS-hidden
          span.icon-arrow-up.surround.zoom500
        .m2.sizeS-m4.vertical.sizeXS-hidden
          span.icon-arrow-left.surround.zoom500
        .m2.sizeS-m4.vertical.sizeXS-hidden
          span.icon-arrow-down.surround.zoom500
        .m2.sizeS-m4.vertical.sizeXS-hidden
          span.icon-arrow-right.surround.zoom500
      br
      _php $searchForm
