extends PatternLayouts

append variables
  _require_once_wp Functions/SetAuthor

block content
  article.article(itemscope itemtype='https://schema.org/Article')
    #index-article
      .wrap
        .grid
          h1.emphasized(itemprop='name headline') {% $name %}
        br.sizeS-hidden
        .grid(itemprop='articleBody')
          .m2.sizeXS-m6.sizeS-m3
            .avatar(style='background-image:url({% $avataruser %})')
              .ratio
          _if $memberDescription
          .m6.sizeS-m9
            p
              em {% $memberDescription %}
          _endif
          div
            .columns
              .list-stripe {% $memberInfoList %}
              _if $capacityModerator
              .list-stripe {% $changeProfile %}
              _endif
