extends PatternLayouts

append variables
  _require_once_wp Functions/SetHome

block breadcrumb
  //- No breadcrumb

block content
  _php $slideshow
  section.section
    .wrap-limited
      .grid
        .m
          br
          h1.emphasized(itemprop='name headline') {% $name %}
          br
        //-
          _php $content
        .m8.o2
          br
          _php $searchForm
          br
