extends PatternLayouts

append variables
  _require_once_wp Functions/SetSingle
  _php $authorizedGroups = get_post_meta( $post->ID, 'authorizedgroups', true )

block content
  article.article(itemprop='mainEntityOfPage' itemscope itemtype='https://schema.org/Article')
    | {% $image %}
    #index-article
      .wrap
        .grid
          .m12
            h1.h2.emphasized(itemprop='name') {% $name %}
          .grid6.sizeS-grid12
            .links.protected(itemprop='articleBody') {% $content %}
            _if $capacityAdministrator OR ( ! $restrictedRead OR $restrictedRead AND $capacityRead ) AND ( ! $authorizedGroups OR $userGroup == $authorizedGroups )
            include Includes/Buttons
            _endif
          _if $capacityAdministrator OR ( ! $restrictedRead OR $restrictedRead AND $capacityRead ) AND ( ! $authorizedGroups OR $userGroup == $authorizedGroups )
          aside.m6.sizeS-m12
            include Includes/Sidebar
          _endif

block comments
  _if ( $capacityAdministrator AND $commentsOpen ) OR ( $capacityRead AND ( $commentsOpen AND $capacityCommentator OR $commentsOpen AND $comments ) AND ( ! $authorizedGroups OR $userGroup == $authorizedGroups ) )
  aside.aside#index-comments
    .wrap
      h2.emphasized {% $commentsTitle %}
        a.anchor(href='#index-comments')
      .grid
        _php $comments
        _if $commentsOpen AND $capacityCommentator
        _php $commentForm
        _endif
  _endif
  //-
    .ajax-window-comments

block aside
  _if $relation
  aside.aside
    .wrap
      h2.emphasized {% $relationsTitle %}
      .relationship {% $relation %}
  _endif