extends ../PatternLayouts

append variables
  _require_once_wp Functions/SetProfile

block content
  article.article(itemscope itemtype='https://schema.org/Article')
    #index-article
      .wrap
        .grid
          h1.emphasized(itemprop='name headline') {% $name %}
        br.sizeS-hidden
        .grid(itemprop='articleBody')
          .m2.sizeXS-m6.sizeS-m3
            .avatar(style='background-image:url({% $avatarImg %})')
              .ratio
          _if $userDescription
          .m6.sizeS-m9
            p
              em {% $userDescription %}
          _endif
          div
            .columns
              .list-stripe {% $userInfoList %}
              .list-stripe {% $loginLogout %}