extends ../PatternLayouts

block banner
  //-
    _php // Template Name: Profil

append variables
  _require_wp Functions/SetProfil

append functions
  _require_wp Functions/Breadcrumb

block breadcrumb
  _php $breadcrumb

block content
  article.article(itemscope itemtype='https://schema.org/Article')
    | {% $image %}
    #index-article
      .wrap
        .grid.print-area
          .m12
            h1 {% $name %}
            div(itemprop='articleBody')
              .avatar.width10(style='background-image:url({% $gravatarUri %})')
                .ratio
              .columns
                .list-stripe
                  _if $userLogin
                  p
                    span.icon-ampersand
                    | &nbsp;&nbsp;Identifiant&nbsp;: {% $userLogin %}
                  _endif
                  _if $userEmail
                  p
                    span.icon-at
                    | &nbsp;&nbsp;Email&nbsp;: {% $userEmail %}
                  _endif
                  _if $userFirstName
                  p
                    span.icon-user
                    | &nbsp;&nbsp;Prénom&nbsp;: {% $userFirstName %}
                  _endif
                  _if $userLastName
                  p
                    span.icon-user
                    | &nbsp;&nbsp;Nom&nbsp;: {% $userLastName %}
                  _endif
                  _if $userDisplayName
                  p
                    span.icon-user
                    | &nbsp;&nbsp;Pseudo&nbsp;: {% $userDisplayName %}
                  _endif
                .list-stripe
                  a(href='{% $adminUri %}')
                    span.icon-login
                    | &nbsp;&nbsp;{% $textAdmin %}
                  a(href='{% $logoutUri %}')
                    span.icon-logout
                    | &nbsp;&nbsp;{% $textLogout %}

