extends ../PatternLayouts

block banner
  //-
    _php // Template Name: Register

append variables
  _require_once_wp Functions/SetRegister

block content
  article.article(itemscope itemtype='https://schema.org/Article')
    #index-article
      .wrap
        h1.emphasized {% $name %}
        br.sizeS-unhidden
        _if $userRegistrationOpen
        .grid(itemprop='articleBody')
          .m6
            _php $content
            p.message-info {% $message %}
          .m6.vertical
            .icon-rocket.surround.zoom500
        _else
        div(itemprop='articleBody') {% $content %}
        _endif
