aside.button-group
  div
    button(title='Print article').button.cmd-print
      span.icon-printer
  //-
    div
      button(title='Share article').button
        span.icon-share
  _if ( $capacityRead AND $commentsOpen AND is_single() )
  div
    button(title='Comment article').button#comments
      span.icon-bubbles
  _endif
  _if $capacityEditPosts
  form(action='{% $editPost %}' method='post' target='_blank')
    button(title='Edit article').button
      span.icon-pen
  _endif
