nav.main-nav(role='navigation')
  .wrap
    .brand-image.onaline
      a(href='{% $siteUri %}') {% $siteName %}
    input(type='checkbox', id='cmd-main-nav')
    label(for='cmd-main-nav')
      span
    _php $mainNav
