_if $articleDescription
p.message(itemprop='description') {% $articleDescription %}
_endif
_if $reference
p.message-source {% $reference %}
_endif
p.message-date {% $published %}
//-
  p.message Article summary&nbsp;:
  ul.list-stripe-link.no-print
    li
      a(href='#index')
        span.icon-arrow-down
        | &nbsp;&nbsp; Title 1
    li
      a(href='#index')
        span.icon-arrow-down
        | &nbsp;&nbsp; Title 2
    li
      a(href='#index')
        span.icon-arrow-down
        | &nbsp;&nbsp; Title 3
    li
      a(href='#index')
        span.icon-arrow-down
        | &nbsp;&nbsp; Title 4
    li
      a(href='#index')
        span.icon-arrow-down
        | &nbsp;&nbsp; Title 5
_if $keywords
p.message-keyword {% $keywords %}
_endif
_if $restrictedRead
p.message-info
  _php _e( 'This content is only visible to connected users.', 'scriptura' )
_endif
_if $authorizedGroups
p.message-info
  _php _e( 'This content is only visible to authorized users.', 'scriptura' )
_endif